.advantages {
	padding: 69px 0px 81px 0px;
	background-color: #f6f6f6;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
		width: 242px;
		color: #0d0d0d;
		text-align: center;
		img {
			margin: 0px 0px 38px 0px;
		}
	}
	&__subtitle {
		font-size: 18px;
		font-weight: 700;
	}
	&__text {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 300;
		a {
			font-size: 14px;
			line-height: 1.2;
			font-weight: 300;
			text-decoration: underline;
			color: #ff0000;
		}
	}
}