.carousel {
	padding: 81px 0px 82px;
}
.swiper {
	&-wrapper {
		position: relative;
	}
	&-slide {
		width: 750px;
		text-align: center;
		img {
			max-width: 100%;
		}
	}
	&-arrow-left,
	&-arrow-right {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		z-index: 2;
		width: 31px;
		height: 50px;
		img {
			max-width: 100%;
		}
	}
	&-arrow-right {
		right: 0;
		left: auto;
	}
	&-pagination {
		display: none;
	}
}