@media (max-width: 991px) {
	.swiper {
		&-wrapper {
			margin: 0px 0px 35px;
		}
		&-arrow-left,
		&-arrow-right {
			display: none;
		}
		&-pagination {
			display: block;
			&-bullet {
				width: 15px;
				height: 15px;
				background-color: $red-color;
			}
		}
	}
}
@media (max-width: 767px) {
	.header {
		margin: 0px 0px 60px;
		&__official {
			font-size: 14px;
			span {
				font-size: 18px;
			}
		}
		&__phone {
			font-size: 18px;
		}
	}
	.promo {
		background: url('../../assets/img/promo_bg.webp') -221px 0px/cover no-repeat;
		&__wrapper {
			align-items: center;
		}
	}
	.advantages {
		padding: 50px 0px;
		&__row {
			justify-content: space-around;
			flex-wrap: wrap;
			gap: 45px 30px;
		}
		&__title {
			margin: 0px 0px 50px;
		}
	}
	.consultation {
		min-height: 527px;
		padding: 50px 0px 70px;
		background: url(../../assets/img/consultation_bg.webp) -724px center/cover no-repeat;
		&__title {
			margin: 0px 0px 35px;
		}
	}
	.title_left {
		font-size: 24px;
	}
	.carousel {
		padding: 50px 0px;
	}
	.swiper {
		&-wrapper {
			margin: 0px 0px 40px;
		}
	}
}
@media (max-width: 699px) {
	.header {
		justify-content: space-between;
		&__logo {
			flex: 0 0 45px;
			overflow: hidden;
			img {
				max-width: none;
			}
		}
	}
}
@media (max-width: 575px) {
	.header {
		flex-wrap: wrap;
		margin: 0px 0px 45px;
		&__logo,
		&__official {
			margin: 0px 0px 25px;
		}
		&__contacts {
			align-items: center;
			margin: 0 auto;
		}
	}
	.button_main,
	.feed-form input,
	.button_submit {
		width: 280px;
	}
	.promo {
		padding: 21px 0px 45px;
		background: url('../../assets/img/promo_bg.webp') -700px 0px/cover no-repeat;
		&__title {
			font-size: 22px;
		}
		&__subtitle {
			text-align: center;
			font-size: 20px;
			margin: 0px 0px 45px;
		}
		&__icons {
			justify-content: space-around;
			flex-wrap: wrap;
			width: 260px;
			gap: 30px 20px;
			margin: 0px 0px 45px;
		}
		&__link {
			text-align: center;
		}
	}
	.advantages {
		padding: 30px 0px ;
		&__item img {
			margin: 0px 0px 25px;
		}
		&__title {
			margin: 0px 0px 40px;
		}
	}
	.consultation {
		min-height: 440px;
		padding: 30px 0px;
		&__title {
			font-size: 19px;
			text-align: center;
			margin: 0px 0px 20px;
		}
		&__desc {
			font-size: 18px;
			text-align: center;
		}
	}
	.carousel {
		padding: 30px 0px;
	}
	.swiper {
		&-pagination {
			&-bullet {
				width: 10px;
				height: 10px;
			}
		}
	}
}