.promo {
    min-height: 650px;
    padding: 24px 0px 92px;
    background: url('../../assets/img/promo_bg.webp') center (center/cover) no-repeat;
}
.promo__wrapper {
}
.promo__title {
}
.promo__subtitle {
}
.promo__icons {
}
.promo__icon {
}
.promo__text {
}
.promo__btn {
}
.promo__button {
}
.promo__link {
}