@font-face {
    font-family: 'Museo Sans';
    src: local('Museo Sans 500'), local('MuseoSans-500'),
        url('../assets/fonts/MuseoSans-500.woff2') format('woff2'),
        url('../assets/fonts/MuseoSans-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans';
    src: local('Museo Sans 700'), local('MuseoSans-700'),
        url('../assets/fonts/MuseoSans-700.woff2') format('woff2'),
        url('../assets/fonts/MuseoSans-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Sans';
    src: local('Museo Sans 300'), local('MuseoSans-300'),
        url('../assets/fonts/MuseoSans-300.woff2') format('woff2'),
        url('../assets/fonts/MuseoSans-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

