* {
  font-family: "Museo Sans", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 945px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: #0d0d0d;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 91px 0px;
}
.header__logo {
  width: 251px;
}
.header__logo img {
  max-width: 100%;
}
.header__official {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
}
.header__official span {
  display: block;
  font-size: 18px;
  font-weight: 700;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__phone {
  margin: 0px 0px 8px 0px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.header__phone:hover {
  color: #ffffff;
}

.promo {
  min-height: 650px;
  padding: 21px 0px 92px 0px;
  background: url("../../assets/img/promo_bg.webp") 0 0/cover no-repeat;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.promo__title {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px 17px 0px;
}
.promo__subtitle {
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px 66px 0px;
}
.promo__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 445px;
  margin: 0px 0px 68px 0px;
}
.promo__icon {
  width: 110px;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}
.promo__icon img {
  margin: 0px 0px 20px 0px;
}
.promo__btn {
  font-size: 14px;
  color: #ffffff;
}
.promo__btn button {
  margin: 0px 0px 18px 0px;
}
.promo__link {
  color: #ffffff;
}
.promo__link a {
  color: #ffffff;
}

.button {
  width: 150px;
  height: 30px;
  background-color: #c70101;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}
.button_main {
  width: 300px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages {
  padding: 69px 0px 81px 0px;
  background-color: #f6f6f6;
}
.advantages__title {
  margin: 0px 0px 65px 0px;
  text-align: center;
}
.advantages__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advantages__item {
  width: 242px;
  color: #0d0d0d;
  text-align: center;
}
.advantages__item img {
  margin: 0px 0px 38px 0px;
}
.advantages__subtitle {
  font-size: 18px;
  font-weight: 700;
}
.advantages__text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
}
.advantages__text a {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  text-decoration: underline;
  color: #ff0000;
}